.head {
  display: inline-flex;
}

.title {}

.modo {
  width: 14px;
  height: 14px;
}

.title .title-principal {
  font-family: 'Roboto';
  font-style: normal;
  margin-left: 1rem;
  color: #4D4B4B;
}

.container-todo {
  position: relative;
  display: grid;
  align-items: start;
  justify-items: center;
}

.container-add-alt-task {
  display: inline-grid;
  width: 40rem;
  height: 3rem;
  padding: 0.3rem 0.1rem 0.8rem 0.1rem;
  background: #FFFFFF;
  border-radius: 10px;
}

.container-add-alt-task hr {
  color: gray;
  width: 100%;
  margin: 0;
}

.title-task-first-line {
  display: inline-flex;
}

.title-task-first-line button {
  width: 34px;
  height: 30px;

  border: none;
  background-color: white;
}

.title-task-first-line input {
  width: 100%;
  border: none;


}
.title-task-first-line input, .description .description-input{
  margin-left: 0.7rem;
  font-family: 'Inria Serif';
  font-style: normal;
  font-size: 16px;
  color: #ABABAB;
}
.container-description-date-time-todo {
  /* display: inline-flex; */
}

.description {
  width: 100%;
  display: inline-flex;
}

.description .description-input {
  border: none;
  width: 100%;
}

.description .date .time {}
