.container-global{
  padding: 2rem;
  width: 42m hdnrem;
}

.head{
  display: contents;
}
.modo{
  display: flex;
  justify-content: flex-end;
}
.title{
  display:inline-flex;
  align-items: center;
}
h1, h3 {
  margin: 0;
}

.image-title img{
  height: 3.2rem;
  width: 3.2rem;
  margin-right: 1rem;
}
.title-principal{

}

.container-add-todo{
  display: grid;
  margin: 1rem 0;
}

.container-add-todo input{
  border: 1px solid rgb(173, 173, 173);
  border-radius: 0.5px;

  height: 2rem;
  margin: 0.01rem 0;
}

.container-date-time-todo{
  display: inline;
  height:1.5rem;
}

.container-todo{

}

.todo{}

.task{}

