<div class="container-global">

  <div class="head">
    <div class="modo">
      <img src="assets/mode-dark.png" alt="mode" (click)="modetoggle()" id="mode-icon">
    </div>

    <div class="title">

      <div class="image-title" >
        <img src="assets/Icone.png" alt="TaskList" >
      </div>

      <div class="title-principal">
        <h1>Lista de Tarefas</h1>
        <h3 *ngIf="nowdate">{{ nowdate | date: 'dd/MM/yyyy' }}</h3>
      </div>
    </div>

  </div>

  <div class="container-add-todo">
    <input type="text" [(ngModel)]="newTask.title" placeholder="Insira o titulo da tarefa">
    <input type="text" [(ngModel)]="newTask.description" placeholder="Insira a descrição da tarefa">
    <input type="date" [(ngModel)]="newTask.date">
    <input type="time" [(ngModel)]="newTask.time">
    <button type="submit" (click)="save()">
      <img src="assets/add.png" alt="add-task">
    </button>
  </div>
  <div class="container-todo">
    <div class="todo">
      <table>

        <thead>
          <tr>
            <th></th> <!-- Status -->
            <th>Tarefas ({{filteredTasks.length}})</th>
            <th></th><!-- Date and time -->
            <th></th> <!-- Update -->
            <th></th> <!-- Delete -->
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let task of filteredTasks">
            <td class="task">
            <td (click)="toggleStatus(task)">
              <input type="checkbox" name="status" [checked]="task.status">
            </td>
            <td>
              <span>{{task.title}}</span>
              <span>{{task.description}}</span>
            </td>
            <td>- {{task.date | date: 'dd/MM/yyyy'}} - {{task.time}}</td>
            <td><img id="update" src="assets/update.png" alt="update-task" (click)="selected(task);"></td>
            <td><img id="delete" src="assets/delete.png" alt="delete-task" (click)="deleteTask(task.id)"></td>

          </tr>
        </tbody>

      </table>

    </div>
    <div class="task">
      <table>

        <thead>
          <tr>
            <th></th> <!-- Status -->
            <th>Tarefas completas ({{completedTasks.length}})</th>
            <th></th><!-- Date and time -->
            <th></th> <!-- Update -->
            <th></th> <!-- Delete -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of completedTasks">
            <td class="task">
            <td (click)="toggleStatus(task)">
              <input type="checkbox" name="status" [checked]="task.status">
            </td>
            <td>
              <span>{{task.title}}</span>
              <span>{{task.description}}</span>
            </td>
            <td>- {{task.date | date: 'dd/MM/yyyy'}} - {{task.time}}</td>
            <td><img id="update" src="assets/update.png" alt="update-task" (click)="selected(task);"></td>
            <td><img id="delete" src="assets/delete.png" alt="delete-task" (click)="deleteTask(task.id)"></td>
          </tr>

        </tbody>

      </table>
    </div>

  </div>

</div>
