<div class="container-global">

  <div class="head">
    <div class="title">

      <div class="image-title">
        <img src="assets/Icone.png" alt="TaskList">
      </div>

      <div class="title-principal">
        <h1>Lista de Tarefas</h1>
        <h3 *ngIf="nowdate">{{ nowdate | date: 'dd/MM/yyyy' }}</h3>
      </div>
    </div>
    <div class="modo">
      <img src="assets/mode-dark.png" alt="mode" (click)="modetoggle()" id="mode-icon">
    </div>
  </div>

  <div class="container-todo">

    <div class="principal">
      <div class="div-up-clear">

        <div class="update-page">
          <img (click)="loadTasks()" src="assets\atualizar.png" alt="">
        </div>

        <div class="clear" *ngIf="(this.taskSelected === true || select === true) && (newTask.title || newTask.description || newTask.date || newTask.time)"        >
          <span class="repitition">{{newTask.repeat || repitition}}</span>
          <img (click)="clear(); select = false" src="assets/x.png" alt="">
        </div>
      </div>
      <div class="container-add-alt-task">

        <div class="title-task-first-line">
          <input (click)="select = true" class="title-task" type="text" [(ngModel)]="newTask.title"
            placeholder="Insira o titulo da tarefa">
          <button type="submit" (click)="save(); select = false">
            <img src="assets/add.png" alt="add-task">
          </button>
        </div>
        <hr>
        <div class="container-description-date-time-todo">
          <div class="description">
            <input (click)="select = true" class="description-input" type="text" [(ngModel)]="newTask.description"
              placeholder="Insira a descrição da tarefa">
            <img src="assets\repeat.png" alt="" (click)="repeatToggle()">

            <input type="date" [(ngModel)]="newTask.date" class="icon date">
            <input type="time" [(ngModel)]="newTask.time" class="icon time">
          </div>
          <div class="repeat" *ngIf="r===true" [(ngModel)]="newTask.repeat">
            <div>
              <span>Repetir: </span>
            </div>
            <button (click)="toggleMenuRepeat(1)">
              <img src="assets\repeat-calendar.png" alt="">Diariamente
            </button>
            <button (click)=" toggleMenuRepeat(2)">
              <img src="assets\repeat-calendar.png" alt="">Semanalmente
            </button>
            <button (click)=" toggleMenuRepeat(3)">
              <img src="assets\repeat-calendar.png" alt="">Mensalmente
            </button>
            <button (click)="toggleMenuRepeat(4)">
              <img src="assets\repeat-calendar.png" alt="">Anualmente
            </button>
            <button (click)="toggleMenuRepeat(5)">
              <img src="assets\no-repeat.png" alt="">Sem repetição
            </button>
          </div>
        </div>
      </div>
      <div class="remove" *ngIf="shouldShowRemoveButton()">
        <button (click)="clearTime()">{{remove}}</button>
      </div>

    </div>
    <div class="tasks-container">
      <div>
        <div class="tasks">

          <div class="title-classification">


            <h4>Tarefas ({{filteredTasks.length}})</h4>


            <div (click)="toggleMenu()">
              <img src="assets/ordenar.png" alt="">
              <span>Classificar</span>
            </div>
            <div *ngIf="openOrder" class="menu-dropdown">
              <div>
                <span>Classificar por: </span>
              </div>
              <div>
                <button (click)="atributeOrderTasks('date'); toggleMenu()"> <img src="assets\order-date.png" alt="">Data
                  de
                  Conclusão</button>
                <button (click)="atributeOrderTasks('title'); toggleMenu()"> <img src="assets\order-word.png"
                    alt="">Ordem
                  Alfabética</button>
                <button (click)="this.criterio = 'semordem'; loadTasks(); toggleMenu()"> <img src="assets\x2.png" alt=""
                    class="x">Remover
                  Classificação</button>
              </div>
            </div>

          </div>
        </div>

        <table>
          <thead>
            <tr>
              <th class="tas">
              </th>
              <th class="options"></th>
              <th class="des"></th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let task of filteredTasks" class="task">

              <td class="task-options-title-check">
                <span (click)="this.reT(task); this.toggleStatus(task); ">
                  <input type="checkbox" name="status" [checked]="task.status">
                </span>
                <span class="task-title">
                  {{ task.title }}
                </span>
              </td>
              <td class="task-options-describe">
                <span>{{ task.date | date: 'dd/MM/yyyy' }}</span>
                <span> {{ task.time }} </span>
                <span *ngIf="task.repeat && task.date"><img src="assets\repeat.png" alt=""></span>
                <span><img id="id-update" src="assets/update.png" alt="update-task" (click)="selected(task);" /></span>
                <span><img id="id-delete" src="assets/delete.png" alt="delete-task"
                    (click)="deleteTask(task.id)" /></span>
              </td>
              <td class="task-description">{{task.description}}</td>
            </tr>

          </tbody>

        </table>

      </div>

      <div class="tasks-container">
        <div class="tasks">
          <div>
            <h4 class="completed" (click)="hidetask()"> <img src="assets\seta-direita.png" alt="" id="hidetask"> Concluídas ({{completedTasks.length}})</h4>
          </div>
          <table>

            <thead>
              <tr>
                <th class="check"></th>
                <th class="tas"></th>
                <th class="options"></th>
                <th class="des"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let task of completed" class="task">

                <td class="task-options-title-check">
                  <span (click)="toggleStatus(task)">
                    <input type="checkbox" name="status" [checked]="task.status">
                  </span>
                  <span class="task-title" style="text-decoration: line-through">{{ task.title }}</span>
                </td>
                <td class="task-options-describe">
                  <span>{{ task.date | date: 'dd/MM/yyyy' }}</span>
                  <span> {{ task.time }} </span>
                  <span *ngIf="task.repeat && task.date"><img src="assets\repeat.png" alt=""></span>
                  <span><img id="id-update" src="assets/update.png" alt="update-task"
                      (click)="selected(task);" /></span>
                  <span><img id="id-delete" src="assets/delete.png" alt="delete-task"
                      (click)="deleteTask(task.id)" /></span>
                </td>
                <td class="task-description">{{task.description}}</td>
              </tr>

            </tbody>

          </table>
        </div>
      </div>

    </div>


  </div>
</div>
