body {
  position: relative;
  margin: 0;
  display: flex;
  justify-content: center;
  /* background-image: url(assets/Fundo/lua-natureza.avif); */
  
}
html, body {
  height: 100%; 
  margin: 0;
  background-color: #f3f3f3;
}

.container-global {
  height: 100vh; 
  padding: 2rem 4rem;
  box-sizing: border-box; 
}

body .container-global{
  background-color: rgb(232, 233, 238);
}

[data-theme="dark"] body{
  background-color: #313131;
  color: white;
}

[data-theme="dark"] .container-global {
  background-color: #252525;
}


