.remove{
  color: red;
  font-size: 12px;
}

.head {
  display: inline-flex;
  justify-content: space-between;
}

.title {
  display: inline-flex;
  align-items: center;
}

.image-title img {
  width: 4rem;
  height: 4rem;

}

.modo img {
  cursor: pointer;
  width: 28px;
  height: 28px;
}

.title .title-principal {
  font-family: 'Roboto';
  font-style: normal;
  margin-left: 1rem;
  color: #4D4B4B;

}

h1, h3 {
  margin: 0;
  font-family: 'Roboto';
  font-style: normal;
}

.container-todo {
  margin-top: 2rem;
  position: relative;
  display: grid;
  align-items: start;
  justify-items: center;
}

.container-tasks, .container-add-alt-task, .tasks, .completed-task {
  margin: 1rem 0rem;
}

.container-add-alt-task {
  display: inline-grid;
  width: 100%;
  height: 3rem;
  padding: 0.3rem 0.1rem 0.8rem 0.1rem;
  background: #FFFFFF;
  border-radius: 10px;
}

.container-add-alt-task hr {
  color: gray;
  width: 100%;
  margin: 0;
}

.title-task-first-line {
  display: inline-flex;
}

.title-task-first-line button {
  width: 34px;
  height: 30px;
  cursor: pointer;
  border: none;
  background-color: white;
}

.title-task-first-line input, .description .description-input {
  width: 100%;
  border: none;
  outline: none;
}

.title-task-first-line input, .description .description-input {
  margin-left: 0.7rem;
  font-family: 'Inria Serif';
  font-style: normal;
  font-size: 16px;
  color: #ABABAB;
}

.description {
  width: 100%;
  display: inline-flex;
}

.task td:last-child {
  flex: 1 0 100%;
}

.task td:first-child {
  flex: 0 0 min-content;
  /* Checkbox ocupa o mínimo possível */
}

/* Estilo da tabela geral */
table {
  width: 100%;
  border-collapse: separate;

}

/* Estilo do cabeçalho */
thead th {
  text-align: left;

  font-family: 'Inria Serif';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #4E4E4E;
}

/* Estilo das linhas */
tbody .task {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  margin: 0.4rem 0;
  width: 100%;
  text-align: left;
}

/* Primeiras colunas em linha */
.task td {
  padding: 5px;
  flex: 1;
  display: flex;

}

/* Célula de título */
.task-title {
  font-weight: bold;
  font-family: 'Inter';
  font-size: 14px;
  color: #141414;
}

/* Células de data e hora */
.task-date,
.task-time {
  color: #6c757d;
  font-size: 14px;

}

/* Ícones de atualização e exclusão */
.task-up,
.task-del {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
}


/* Célula de descrição ocupando toda a linha */
.task-description {
  flex: 1 0 100%;
  color: #6c757d;
  font-size: 14px;
}

.task img {
  width: 15px;
  height: 15px;

}

.up-del {
  flex: 0 0 min-content;
}
